{% extends 'blog/base.html' %}

{% block head_title %}
    Blog CFE
{% endblock %}
{% include 'blog/message_display.html' %}
{% block content %}
    <div class="container">
        <div class="row" style="text-align: center; font-family:Apple Chancery; ">
            <div class="col-md-6 col-md-offset-3">
                <h1>Welcome to blog</h1>
                <form method="GET"  action="">
                    <input type="text" name='q' placeholder="Search" value="{{ request.get.q }}">
                    <input type="submit" value="Search">
                </form>
                <p>
                   <a href="{% url 'blog:post_create' %}">
                        Create New Blog
                    </a>
                </p>
            </div>
        </div>
        {% for post in posts_list %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="thumbnail">
                        {% if post.image %}
                            <img src="{{ post.image.url }}"
                                 class="img-responsive"
                                 alt="Blog Post image"
                                 style="max-height: 300px; width: 100%;">
                        {% endif %}
                        <div class="caption">
                            <h3>
                                <a href="{% url 'blog:post_detail' slug=post.slug %}">
                                    {{ post.title }}
                                </a>
                                {% comment %}{% if post.draft %}
                                    <span style="color: red">
                                        Draft
                                    </span>
                                {% endif %}{% endcomment %}
                                <small>{{ post.timestamp|timesince }}</small>
                            </h3>
                            <p>
                                Author: {{ post.user }}
                            </p>
                            <p>

                                <div class='content-markdown'>{{ post.post_content|truncatechars:200 }}</div>
                            </p>
                            <p>
                                {% if post.user == request.user %}
                                <a href="{% url 'blog:post_update' slug=post.slug %}">
                                    <button>
                                        Update
                                    </button>
                                </a>
                                <a href="{% url 'blog:post_delete' slug=post.slug %}">
                                    <button>
                                        Delete
                                    </button>
                                </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
       <div class="row">
           <div class="col-md-4 col-md-offset-4">
                <div class="pagination">
            <span class="step-links">
                {% if posts_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ posts_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts_list.number }} of {{ posts_list.paginator.num_pages }}.
                </span>
                {% if posts_list.has_next %}
                    <a href="?page={{ posts_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                    <a href="?page={{ posts_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
           </div>

       </div>


    </div>

{% endblock content %}

